
<% layout('./layout/page.ejs') %>

<div id = group1>
<img src="<%= picture %>" alt=""/>
  <h1>
    <%= title %>
  </h1>
</div>


<div id = group2>
  <p>
    <%=desc%>
  </p>
</div>

<div id = group3>
  <img src = "<%= picture2 %>">
  <img src = "<%= picture3 %>">
  <img src = "<%= picture4 %>">
</div>